<div class="container">
  <h3>Photo album</h3>
  <a href="#/albums">back to albums </a>
  <hr />
  <div>
    <div class="alert alert-danger" ng-show="albumFetchError">
      {{albumFetchError}}
    </div>

    <div class="photo thumbnail" ng-repeat="photo in photos">
      <a href="#/albums/{{albumName}}/photos/{{photo.filename}}">
        <img ng-src="{{photo.filename}}" alt="{{photo.description}}" />
      </a>
      <div class="caption">
        <h5>{{photo.date}}</h5>
        <p>{{photo.description}}</p>
      </div>
    </div>
  </div>
</div>
